.time-card{
display: flex;
flex-direction: column;
padding: 24px 20px;
gap: 16px;
width: 366.67px;
height: 296px;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(20, 20, 21, 0.03);
border-radius: 12px;
box-sizing: border-box;
position:relative;
}
.time-above{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 326.67px;
height: 148px;
position:relative;
}
.time-inside{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 207px;
height: 124px;



}
.time-below{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 326.67px;
height: 56px;
}
.progress-bar-time{
width: 326.67px;
height: 20px;
gap: 13.39px
}
.bar-time{
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 10px;
gap: 4px;
position: absolute;
width: 176px;
height: 26px;
right: -3.33px;
top: 0px;
background: #EBFBD8;
border: 2px solid #C4F28A;
border-radius: 128px;
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;

}

.semiTime-inside{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 207px;
height: 148px;
position: relative;
}